@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

body{
    font-family: 'Dosis', sans-serif;
}

.hero {
	background-image: url("../../public/assets/images/wealth_offer_banner.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 70vh;
	width: 100%;
  }