@tailwind base;
@tailwind components;
@tailwind utilities;

*, body{
  padding: 0px;
  margin: 0px;
}

img{
  object-fit: cover;
}

#c__animate {
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-size: 100.10%;
  }
  1% {
    background-size: 100.20%;
  }
  2% {
    background-size: 100.30%;
  }
  3% {
    background-size: 100.40%;
  }
  4% {
    background-size: 100.50%;
  }
  5% {
    background-size: 100.60%;
  }
  6% {
    background-size: 100.70%;
  }
  7% {
    background-size: 100.80%;
  }
  8% {
    background-size: 100.90%;
  }
  9% {
    background-size: 101.00%;
  }
  10% {
    background-size: 101.10%;
  }
  11% {
    background-size: 101.20%;
  }
  12% {
    background-size: 101.30%;
  }
  13% {
    background-size: 101.40%;
  }
  14% {
    background-size: 101.50%;
  }
  15% {
    background-size: 101.60%;
  }
  16% {
    background-size: 101.70%;
  }
  17% {
    background-size: 101.80%;
  }
  18% {
    background-size: 101.90%;
  }
  19% {
    background-size: 102.00%;
  }
  20% {
    background-size: 102.10%;
  }
  21% {
    background-size: 102.20%;
  }
  22% {
    background-size: 102.30%;
  }
  23% {
    background-size: 102.40%;
  }
  24% {
    background-size: 102.50%;
  }
  25% {
    background-size: 102.60%;
  }
  26% {
    background-size: 102.70%;
  }
  27% {
    background-size: 102.80%;
  }
  28% {
    background-size: 102.90%;
  }
  29% {
    background-size: 103.00%;
  }
  30% {
    background-size: 103.10%;
  }
  31% {
    background-size: 103.20%;
  }
  32% {
    background-size: 103.30%;
  }
  33% {
    background-size: 103.40%;
  }
  34% {
    background-size: 103.50%;
  }
  35% {
    background-size: 103.60%;
  }
  36% {
    background-size: 103.70%;
  }
  37% {
    background-size: 103.80%;
  }
  38% {
    background-size: 103.90%;
  }
  39% {
    background-size: 104.00%;
  }
  40% {
    background-size: 104.10%;
  }
  41% {
    background-size: 104.20%;
  }
  42% {
    background-size: 104.30%;
  }
  43% {
    background-size: 104.40%;
  }
  44% {
    background-size: 104.50%;
  }
  45% {
    background-size: 104.60%;
  }
  46% {
    background-size: 104.70%;
  }
  47% {
    background-size: 104.80%;
  }
  48% {
    background-size: 104.90%;
  }
  49% {
    background-size: 105.00%;
  }
  50% {
    background-size: 105.10%;
  }
  51% {
    background-size: 105.20%;
  }
  52% {
    background-size: 105.30%;
  }
  53% {
    background-size: 105.40%;
  }
  54% {
    background-size: 105.50%;
  }
  55% {
    background-size: 105.60%;
  }
  56% {
    background-size: 105.70%;
  }
  57% {
    background-size: 105.80%;
  }
  58% {
    background-size: 105.90%;
  }
  59% {
    background-size: 106.00%;
  }
  60% {
    background-size: 106.10%;
  }
  61% {
    background-size: 106.20%;
  }
  62% {
    background-size: 106.30%;
  }
  63% {
    background-size: 106.40%;
  }
  64% {
    background-size: 106.50%;
  }
  65% {
    background-size: 106.60%;
  }
  66% {
    background-size: 106.70%;
  }
  67% {
    background-size: 106.80%;
  }
  68% {
    background-size: 106.90%;
  }
  69% {
    background-size: 107.00%;
  }
  70% {
    background-size: 107.10%;
  }
  71% {
    background-size: 107.20%;
  }
  72% {
    background-size: 107.30%;
  }
  73% {
    background-size: 107.40%;
  }
  74% {
    background-size: 107.50%;
  }
  75% {
    background-size: 107.60%;
  }
  76% {
    background-size: 107.70%;
  }
  77% {
    background-size: 107.80%;
  }
  78% {
    background-size: 107.90%;
  }
  79% {
    background-size: 108.00%;
  }
  80% {
    background-size: 108.10%;
  }
  81% {
    background-size: 108.20%;
  }
  82% {
    background-size: 108.30%;
  }
  83% {
    background-size: 108.40%;
  }
  84% {
    background-size: 108.50%;
  }
  85% {
    background-size: 108.60%;
  }
  86% {
    background-size: 108.70%;
  }
  87% {
    background-size: 108.80%;
  }
  88% {
    background-size: 108.90%;
  }
  89% {
    background-size: 109.00%;
  }
  90% {
    background-size: 109.10%;
  }
  91% {
    background-size: 109.20%;
  }
  92% {
    background-size: 109.30%;
  }
  93% {
    background-size: 109.40%;
  }
  94% {
    background-size: 109.50%;
  }
  95% {
    background-size: 109.60%;
  }
  96% {
    background-size: 109.70%;
  }
  97% {
    background-size: 109.80%;
  }
  98% {
    background-size: 109.90%;
  }
  99% {
    background-size: 110.00%;
  }
  100% {
    background-size: 110.10%;
  }
}


