@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}


/* input-range */

input[type="range"] {
		outline: 0;
		border: 0;
		border-radius: 500px;
		width: 400px;
		max-width: 100%;
		margin: 24px 0;
		transition: box-shadow 0.2s ease-in-out;

		@media screen and (-webkit-min-device-pixel-ratio:0) {
			& {
				overflow: hidden;
				height: 10px;
				appearance: none;
				background-color: #ddd;
			}
			&::-webkit-slider-runnable-track {
				height: 10px;
				-webkit-appearance: none;
				color: #a58e8e;
				margin-top: -1px;
				transition: box-shadow 0.2s ease-in-out;
			}
			&::-webkit-slider-thumb {
				width: 10px;
				-webkit-appearance: none;
				height: 10px;
				cursor: ew-resize;
				background: #fff;
				box-shadow: -340px 0 0 320px  #012169
, inset 0 0 0 40px #02080c;
				border-radius: 50%;
				transition: box-shadow 0.2s ease-in-out;
				position: relative;
	
			}
			&:active::-webkit-slider-thumb {
				background: #fff;
				box-shadow: -340px 0 0 320px  #012169
, inset 0 0 0 3px #010a11;
			}
		}
	
		&::-moz-range-progress {
			background-color: #43e5f7; 
		}
		&::-moz-range-track {  
			background-color: #9a905d;
		}
		
		&::-ms-fill-lower {
			background-color: #43e5f7; 
		}
		&::-ms-fill-upper {  
			background-color: #9a905d;
		}
	}
